.jumbotron {
	background-color: green;
	color: white;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;	
}

.card-product {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-product {
	width: 100%;
}
